@import "tailwindcss";

:root {
  --background: #242424;  
  --talldle-red: #F00D1E;
  --light-accent: #525252; /* rgb(255, 255, 255, 0.1) */
  --dark-accent: #383838; /* rgb(255, 255, 255, 0.1) */
}

@theme inline {
  --color-talldle-red: var(--tallde-red);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.title-glow {
  text-shadow: 2 2 12px rgba(255, 0, 0, 0.15);
}

.column-glow {
  box-shadow: 0 0 16px var(--color-neutral-600);
}

.text-border {
  -webkit-text-fill-color: var(--background);
  -webkit-text-stroke: 1px;
}

.title {
  font-family: Limelight, Arial, sans-serif;
  color: var(--talldle-red);
}

body {
  background: var(--background);
  color: var(--talldle-red);
  font-family: Lexend, Arial, sans-serif;
}


.tooltip-active {
  position: relative;
  display: inline-block;
  opacity: 0.85;
  border-bottom: 1px dotted black;
}

.tooltip-container .tooltip {
  visibility: hidden;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 4px;
  padding: 5px 15px 5px;
  position: absolute;
  z-index: 1;
}

/* .dragging {
  transform: scale(0.9);
} */

/* Remove the dragged image overlay during drag & drop:
see https://github.com/SortableJS/Sortable/issues/794#issuecomment-200037033 */
.sortable-drag {
  opacity: 0;
}

.tooltip-container:hover .tooltip-active {
  visibility: visible;
}